.font_a{
    text-decoration: none;
    font-size: 14px;
    color: #0a628f;
}
a:hover{
    color:#FF0000;
    text-decoration: #0a628f;
}
ul{
 	list-style:none;
 	padding:10px;
 	}
li{
    height:30px;
    line-height:30px;
    border-bottom:1px dashed #CCCCCC;
    /*background:url(/static/img/fire.png) no-repeat 2px 10px;*/
    padding-left:20px;
}

li a{
    color:#0a628f;
    text-decoration:none;

}
li a:hover{
    color:#FF0000;
}

.bar1_input {
    border: 2px solid #7BA7AB;
    border-radius: 5px;
    height: 20px;
    width: 20%;
        }
.bar1_submit {
    top: 0;
    right: 0;
    background: #7BA7AB;
    font-family: FontAwesome;
    color: #F9F0DA;
    font-size: 14px;
    /*border-radius: 0 5px 5px 0;*/
}

.bar1_select{
    font-size: 14px;
    color: #F9F0DA;
    background: #7BA7AB;
    font-family: FontAwesome;
}

table{
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(230, 189, 189);
}

table tr {
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgb(230, 189, 189);
    background: aliceblue;
}

table td{
    padding: 5px 10px;
    font-size: 14px;
    font-family: Verdana;
    color: darkslategray;
    width: 200px;
}
.td_key{
    font-weight: bold;
    font-size: 16px;
}
