<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stcok Panel</title>
    <link rel="stylesheet" href="static/css/stock.css" type="text/css" />
    <script src="static/script/func.js">
    </script>
    <script>
        function switch_url(para) {
            var fra = document.getElementById("focus");
            fra.src = para;
        }
        function show_yb(content) {
            var newwindow = window.open('', "_blank",'');
            newwindow.document.write(content);
        }
    </script>
</head>
<body>
<div>
    <center><h2>市场整体情绪分析</h2></center>
    <table border="0">
        <tr>
            <td class="td_key">美股行情分析：</td><td colspan="2">{{market[1][1]}}</td>
            <td class="td_key">A50行情分析：</td><td colspan="2">{{market[1][2]}}</td>
        </tr>
        <tr>
            <td class="td_key">市场行情得分：</td><td colspan="1">{{market[0]}}</td>
            <td class="td_key">市场行情分析：</td><td colspan="4">{{market[1][0]}}</td>
        </tr>
        <tr>
            <td class="td_key">北向资金流动情况：</td><td>{{money['bx']/10000.0}}亿</td>
            <td class="td_key">南向资金流动情况：</td><td>{{money['nx']/10000.0}}亿</td>
            <td class="td_key">资金流向分析：</td><td>{{money['info']}}</td>
        </tr>
    </table>
</div>
<hr>
<div align="center">
    <input type="button" class="bar1_submit" style="width:10%;height: 40px" name="9" onclick="nine_change()" value="九转测试" >
</div>
<hr>
<div>
    <center><h2>即时情绪分析</h2></center>
    <ul>
        {%for i in research%}
        <p style="color: #2d6a89;font-weight:bold;">
                {{i["upTime"]}} | 《{{i["title"]}}》
        </p>
        <p style="border-bottom:1px dashed #CCCCCC;color: #434e59;">{{i["content"]}}</p>
        {% end %}
    </ul>
</div>
<hr>
<div>
    <center><h2>市场热点整理分析</h2></center>
    <p>
    <h3>独家研报：</h3>
    {%for i in market_hot[0]%}
    <li>
        <a target="_blank" class="font_a" onclick="show_yb('{{market_hot[0][i]}}')">{{i}}</a>
    </li>
    {% end %}
    </p>
    <!--<div>-->
        <!--<ul>-->
            <!--{%for i in market_hot[1]%}-->
            <!--<li>-->
            <!--<a target="_blank" class="font_a" href="http://www.iwencai.com/stockpick/search?preParams=&ts=1&f=1&qs=lm_hltj_tj_query&querytype=&tid=stockpick&queryarea=all&w={{i}}">{{i}}:-->
                <!--{{market_hot[1][i]}}</a>-->
            <!--</li>-->
            <!--{% end %}-->
        <!--</ul>-->
    <!--</div>-->
    <h3>机构调研信息:</h3>
    <div>
        <ul>
            {%for i in market_hot[1]%}
            <li>
                <a target="_blank" class="font_a" href="http://data.eastmoney.com/report/zw_stock.jshtml?encodeUrl={{i}}">
                    {{market_hot[1][i]}}</a>
            </li>

            {% end %}
        </ul>
    </div>
</div>
<hr>
<div>
    <h2 align="center">个股分析</h2>
    <div align="center">
            <form action="" method="get">
                <input type="text" name="stock" class="bar1_input" placeholder="输入股票代码，如：1000858">
                    <select class="bar1_select" name="select_type" >
                        <option value="short">短线</option>
                        <option value="long">长线</option>
                    </select>
                <input type="submit" class="bar1_submit" name="sub" value="提交" >
            </form>

    </div>

</div>

    <table>
        <tr>
            <td class="td_key">股票代码：</td><td>{{stock_code}}</td>
            <td class="td_key">主营业务：</td><td>{{stock_self['stock_businiess']}}</td>
            <td class="td_key">股票概念：</td><td>{{stock_self['stock_concept']}}</td>
        </tr>
        <tr>
            <td class="td_key">个股活跃度：</td><td>{{stock_self["active_score"]}}</td>
            <td class="td_key">个股(活跃度/价格)信息：</td><td colspan="3">{{stock_self["active_info"]}}</td>
        </tr>
        <tr>
            <td class="td_key">个股九转代码：</td><td>{{stock_self["nine_change_index"]}}</td>
            <td class="td_key">个股九转信息：</td><td colspan="3">{{stock_self["nine_change_info"]}}</td>
        </tr>
        <tr>
            <td class="td_key">个股基本面：</td><td>{{stock_self["basic_score"]}}</td>
            <td class="td_key">个股基本面信息：</td><td colspan="3">{{stock_self["basic_info"]}}</td>
        </tr>
        <tr>
            <td  class="td_key">公司新闻：</td><td colspan="2">{{stock_self["stock_news"]}}</td>
            <td  class="td_key">公司重大事项：</td><td colspan="3">{{stock_self["affair"]}}</td>

        </tr>
        <tr>
            <td  class="td_key">同花顺分析：</td><td colspan="5">{{stock_self["stock_analysis"]}}</td>

        </tr>
    </table>
</div>

<hr>

<div>
    <h2 align="center">关注网站</h2>
    <p align="center">
        <a href="#" class="font_a" title="查看热点新闻以及分析报告" onclick=switch_url("https://www.gelonghui.com/live")>格隆汇 | </a>
        <a href="#" class="font_a" title="查看机构研报及研报下载" onclick=switch_url("http://www.hibor.com.cn/hytop.html")>慧博研投 | </a>
        <a href="https://cn.investing.com/markets/" target="_blank" class="font_a" title="查看美股期指情况">英为财情 | </a>
        <a href="https://robo.datayes.com/" target="_blank" class="font_a" title="综合分析">萝卜研投</a>

    </p>
    <iframe src="https://www.gelonghui.com/live" width="100%" height="1000px" id="focus"></iframe>
</div>

</body>
</html>