<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>市场行情面板</title>
    <link rel="stylesheet" href="static/css/stock.css" type="text/css" />
    <script src="static/script/func.js">
    </script>
</head>
<body>
<div>
    <center><h2>市场整体情绪分析</h2></center>
    <table border="0">
        <!--<tr>-->
            <!--<td class="td_key">美股行情分析：</td><td>{{market[1][1]}}</td>-->
        <!--</tr>-->

        <tr>
            <td class="td_key">美股行情分析：</td><td colspan="2">{{market[1][1]}}</td>
            <td class="td_key">A50行情分析：</td><td colspan="2">{{market[1][2]}}</td>
        </tr>
        <tr>
            <td class="td_key">市场行情得分：</td><td colspan="1">{{market[0]}}</td>
            <td class="td_key">市场行情分析：</td><td colspan="4">{{market[1][0]}}</td>
        </tr>
        <tr>
            <td class="td_key">北向资金流动情况：</td><td>{{money['bx']/10000.0}}亿</td>
            <td class="td_key">南向资金流动情况：</td><td>{{money['nx']/10000.0}}亿</td>
            <td class="td_key">资金流向分析：</td><td>{{money['info']}}</td>
        </tr>
    </table>
</div>
<hr>
<div>
    <center><h2>市场热点整理分析</h2></center>
    <p>
    <h3>市场热点股票：</h3>
    {%for i in market_hot[0]%}
    <a target="_blank" class="font_a" href='http://www.iwencai.com/stockpick/search?tid=stockpick&qs=sl_box_main_ths&w={{i}}'>{{i}}</a> |
    {% end %}
    </p>
    <h3>市场热点概念：</h3>
    <div>
        <ul>
            {%for i in market_hot[1]%}
            <li>
            <a target="_blank" class="font_a" href="http://www.iwencai.com/stockpick/search?preParams=&ts=1&f=1&qs=lm_hltj_tj_query&querytype=&tid=stockpick&queryarea=all&w={{i}}">{{i}}:
                {{market_hot[1][i]}}</a>
            </li>

            {% end %}
        </ul>

    </div>
</div>
<hr>
<div>
    <h2 align="center">个股分析</h2>
    <div align="center">
            <form action="" method="get">
                <input type="text" name="stock" class="bar1_input" placeholder="输入股票代码，如：1000858">
                    <select class="bar1_select" name="select_type" >
                        <option value="short">短线</option>
                        <option value="long">长线</option>
                    </select>
                <input type="submit" class="bar1_submit" name="sub" value="提交" >
            </form>

    </div>

</div>

    <table>
        <tr>
            <td class="td_key">股票代码：</td><td>{{stock_code}}</td>
            <td class="td_key">主营业务：</td><td>{{stock_self['stock_businiess']}}</td>
            <td class="td_key">股票概念：</td><td>{{stock_self['stock_concept']}}</td>
        </tr>
        <tr>
            <td class="td_key">个股活跃度：</td><td>{{stock_self["active_score"]}}</td>
            <td class="td_key">个股(活跃度/价格)信息：</td><td colspan="3">{{stock_self["active_info"]}}</td>
        </tr>
        <tr>
            <td class="td_key">个股九转代码：</td><td>{{stock_self["nine_change_index"]}}</td>
            <td class="td_key">个股九转信息：</td><td colspan="3">{{stock_self["nine_change_info"]}}</td>
        </tr>
        <tr>
            <td class="td_key">个股基本面：</td><td>{{stock_self["basic_score"]}}</td>
            <td class="td_key">个股基本面信息：</td><td colspan="3">{{stock_self["basic_info"]}}</td>
        </tr>
        <tr>
            <td  class="td_key">公司新闻：</td><td colspan="2">{{stock_self["stock_news"]}}</td>
            <td  class="td_key">公司重大事项：</td><td colspan="3">{{stock_self["affair"]}}</td>

        </tr>
        <tr>
            <td  class="td_key">同花顺分析：</td><td colspan="5">{{stock_self["stock_analysis"]}}</td>

        </tr>
    </table>
</div>
<hr>
<div align="center">
    <h2 align="center">九转序列测试</h2>
    <input type="button" class="bar1_submit" style="width:10%;height: 40px" name="9" onclick="nine_change()" value="九转测试" >
</div>

</body>
</html>